@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    view model koristimo kada zelimo prikazati vise klasa u jednom view-u;
*@
<h2>@Model.Movie.Name</h2>

